@charset "utf-8";

.head,.top_content,.main{
    width: 1210px; margin: 0 auto; 
}
.top_content{
    float: left;
    position: absolute;
    left: 78px;
    top:40px;
}

.header{
    width: 100%; 
    height: 40px; 
    background: #fbfbfb; 
    line-height: 40px; 
    border-bottom: 1px solid #f3f3f3;
}
.head_left{
    float: left;
}
.head_welcome{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    color: #999999;
}
.head_right{
    float: right;
}
.head_right ul li {
    float: left;
    margin-left: 10px;
}
.head_right ul li a{
    color: #999999;
    font-size: 10px;
}
.head_right ul li a:hover{
    color:#666;
    text-decoration: none;
}
.head_right ul li:nth-of-type(4) a{
    color:#0096de;
}


.top_wrap{
    width: 100%;
    height: 90px;
    background: #fff;
}
.logo{
    float:left;
    line-height: 85px;
}
.logo img{
    width: 268px;
    height: auto;
    vertical-align: middle;
}
.top_right{
    float: right;
    width: 776px;
    position: relative;
}
.top_search{
    width: 460px;
    float: left;
    position: absolute;
    left: 0;
    top:20px;
}
.top_search_input{
    position: relative;
}
.top_search_input .glyphicon{
    position: absolute;
    left:425px;
    top:7px;
    z-index: 1;
    color: #FFF;
    font-size: 23px;
    cursor: pointer;
}
.search_text{
    width: 460px;
    height: 36px;
    border-radius:50px;
    border:2px solid #2f87e5;
    text-indent: 15px;
    outline: none;
}
.search_button{
    border: 0;
    width: 56px;
    height: 36px;
    background:linear-gradient(to right,#19e8e2,#2f87e5);
    position: absolute;
    top: 0;
    left: 406px;
    border-radius:50px;
    cursor: pointer;
}
.top_search_lable{
    padding: 5px 0 0 16px;
}
.top_search_lable a{
    display: inline-block;
    padding-right: 10px;
    color:#6f6e6e;
    font-size: 10px;
}
.top_search_lable a:hover{
    color: #e83733;
    text-decoration: none;
}

.top_searve{
    float: right;
    position:relative;
    text-align: center;
}
.shopcare_hover{
    margin-top: 20px;
    min-width: 55px;
    padding: 0 40px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #0069c8;
    line-height: 34px;
    position: relative;
    float: right;
    margin-bottom: 2px;
}
.top_searve:hover .shopcare_list{
    display: block;
}
.shopcare_hover dt{
    position: relative;
    padding: 5px 10px;
}
.shopcare_hover dt .glyphicon{
    position: absolute;
    left:-10px;
    top:8px;
    color: #6faae0;
    font-size: 16px;
}
.shopcare_hover dt a{
    font-size: 10px;
    color: #000;
}
.shopcare_hover dt a:hover{
    text-decoration: none;
    color: #000;
}
.font_number {
    position: absolute;
    top: -8px;
    right: -5px;
    min-width: 18px;
    height: 18px;
    line-height: 17px;
    border-radius: 10px;
    background: #e83632;
    color: #FFF;
    text-align: center;
    padding: 0px 1px;
}

.shopcare_list{
    position: absolute;
    width: 305px;
    height: 80px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    left:-138px;
    top: 52px;
    display: none;
}
.shopcare_list p{
    width: 305px;
    height: 40px;
    color: #6f6e6e;
    font-size: 10px;
    position: absolute;
    left: -113px;
    top: 10px;
}
.shopcare_list p .glyphicon{
    color: #6f6e6e;
    font-size: 12px;
    position: absolute;
    left: 392px;
    top: -1px;
}
.shopcare_list .shopcare_botton{
    background: #f1f3f4;
    width: 305px;
    height: 40px;
    position: absolute;
    top:40px;
    border-radius: 10px;
}
.shopcare_list .shopcare_botton span{
    display: inline-block;
    position: absolute;
    left:10px;
    top: 10px;
}
.shopcare_list .shopcare_botton span:nth-of-type(2){
    left:84px;
    top: 10px;
}
.shopcare_list .shopcare_botton .btn{
    width: 78px;
    height: 28px;
    position: absolute;
    left:212px;
    top: 6px;
    font-size: 10px;
}