@import "~@/assets/styles/common/mixins.scss";

.van-nav-bar__text {
  color: white;
  background: url(../../assets/images/xiaochacha.png) no-repeat 19px 15px;
}

.page-city {
  display: flex;
  flex-direction: column;
  height: 100%;

  .lv-indexlist {
    width: 100%;
    flex: 1;
    display: flex;
    background: #fff;
    overflow: hidden;
    position: relative;

    &__content {
      flex: 1;
      height: 100%;
      overflow-y: auto;
    }

    &__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 18px;
      height: 100%;

      li {
        height: 18px;
        font-size: 12px;
        color: #191a1b;
        padding: 0 6px;
      }
    }

    .lv-indexsection {
      font-size: 16px;

      &__index {
        background-color: #f4f4f4;
        color: #797d82;
        padding-left: 15px;
        height: 30px;
        line-height: 30px;
      }

      ul {
        //display: flex;
        //flex-wrap: wrap;
        padding: 0 15px;
        margin-bottom: -1px;

        li {
          @include border-bottom;
          position: relative;
          width: 100%;
          height: 48px;
          line-height: 48px;
          //text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }

    .recommend-city {
      padding-left: 15px;
      padding-top: 15px;

      .city-index-title {
        font-size: 13px;
        color: #797d82;
        margin-bottom: 10px;
      }

      .city-index-detail {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .city-item-detail {
          width: 33.33%;
          text-align: center;
          padding-bottom: 15px;
          box-sizing: border-box;
          float: left;

          .city-item-text {
            height: 30px;
            line-height: 30px;
            background-color: #f4f4f4;
            border-radius: 3px;
            box-sizing: border-box;
            margin: 0 7.5px;
            font-size: 14px;
            color: #191a1b;
          }
        }
      }
    }
  }

  .search_box {
    width: 100%;
    padding-left: 15px;

    li {
      @include border-bottom;
      height: 44px;
      position: relative;
      line-height: 44px;
      color: #191a1b;
      font-size: 14px;
    }
  }

  .empty-result {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;

    img {
      width: 90px;
      margin: auto;
    }

    p {
      color: #bdc0c5;
      font-size: 14px;
      margin: 0;
    }
  }
}
